Задача парсинга адреса....
я таки нашёл статью на хабре, которая мне вспомнилась, когда я начал делать это задание.
http://habrahabr.ru/post/192518/
По-моему, она хорошо передаёт проблему парсинга адреса, а так же всё что я об этом думаю :)
Разбор адресов «нечёткими регулярными выражениями» - О Да!
Ещё можно затронуть тему, в каком виде хранить адрес, как построить ввод и валидацию адреса...

Но всё же наша цель изучить юнит-тестирование, так что поставим задачу просто.
Парсинг индекса - просто 5 цифр.
Парсинг города, улицы и дома - начинаем с соответствующих указателей("ул.", "г." и "д."), заканчиваем символом "," или концом строки

На выходе должны получить обьект типа:
{ 
	index:"02068",
	city:"Киев",
	street:"ул. Анны Ахматовой",
	number:"д. 14б"
}
если чегото не нашли, выводим вместо этого поля false:
{
	index:"02068",
	city:"Киев",
	street:"ул. Анны Ахматовой",
	number:false
}

... в общем как-то так.
