<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div ng-controller="parent as parent">
        <div ng-controller="child as child">
            <li ng-repeat="name in child.obj">
                {{name.price | moneyFilter}}
            </li>
            <li ng-repeat="price in child.obj">
                {{price.name}}
            </li>
        </div>
        <div Foo="ololo"></div>
    </div>
</body>
</html>